@import '../../../assets/sass/themes/thems.scss';

button{
    background: transparent;
    border: none;
    cursor: pointer;
    color: white;
    opacity:1 !important;

}


mat-toolbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 
    0px 6px 10px 0px rgba(0, 0, 0, 0.14), 
    0px 1px 18px 0px rgba(0, 0, 0, 0.12);  
    font-size: 20px;
  }

  header{
    padding-top: 64px;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 16px;
    min-height: calc(40vh - 70px);

  }
    
.color-swatch{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.color-swatch-primary, .header-app-theme{
    background-color: mat-color($app-theme-primary);
  }
  .color-swatch-green-primary, .header-app-theme-green{
    background-color: mat-color($app-theme-green-primary);
  }