<mat-card style="border-radius: 0">
    <mat-tab-group class="d-flex align-items-center">
        <mat-tab label="Cadastro">
            <div class="container-form">
                <form [formGroup]="formGroup" class="d-flex ">
                    <mat-form-field >
                        <mat-label>Deixa</mat-label>
                        <input  matInput formControlName="trigger" maxlength="100">
                    </mat-form-field>
        
                    <mat-form-field >
                        <mat-label>Anseio</mat-label>
                        <input  matInput formControlName="wish" maxlength="100">
                    </mat-form-field>
        
                    <mat-form-field >
                        <mat-label>Rotina</mat-label>
                        <input  matInput formControlName="routine" maxlength="100">
                    </mat-form-field>
        
                    <mat-form-field >
                        <mat-label>Recompensa</mat-label>
                        <input  matInput formControlName="reward" maxlength="100">
                    </mat-form-field>
                    <button type="submit" mat-raised-button color="primary">Cadastrar hábito</button>
        
                </form>
            </div>
        </mat-tab>
        <mat-tab label="Lista"></mat-tab>

    </mat-tab-group>
    
</mat-card>
