@import '~@angular/material/theming';
@import './green-palette.scss';


@include mat-core();


$app-theme-green-primary: mat-palette($green-palette);
$app-theme-green-accent: mat-palette($green-palette, A400);
$app-theme-green-warm: mat-palette($mat-red);

$app-theme-green: mat-dark-theme($app-theme-green-primary, $app-theme-green-accent, $app-theme-green-warm);