/* You can add global styles to this file, and also import other style files */

@import './assets/sass/themes/thems.scss';


.app-theme{
    $color: $app-theme-primary;
    $theme: $app-theme;
    @include angular-material-theme($app-theme);
}
.app-theme-green{
    $color: $app-theme-green-primary;
    $theme: $app-theme-green;
    @include angular-material-theme($app-theme-green);
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
